$colors: (
  primary: (
    50: hsl(46, 100%, 94%),
    100: hsl(45, 100%, 85%),
    200: hsl(45, 100%, 76%),
    300: hsl(46, 100%, 66%),
    400: hsl(45, 100%, 60%),
    500: hsl(44, 100%, 55%),
    600: hsl(41, 100%, 54%),
    700: hsl(36, 99%, 54%),
    800: hsl(33, 99%, 53%),
    900: hsl(25, 99%, 53%)
  ),
  secondary: (
    50: hsl(234, 100%, 96%),
    100: hsl(232, 100%, 89%),
    200: hsl(232, 100%, 82%),
    300: hsl(229, 100%, 73%),
    400: hsl(228, 100%, 66%),
    500: hsl(224, 100%, 55%),
    600: hsl(224, 90%, 52%),
    700: hsl(222, 100%, 45%),
    800: hsl(225, 100%, 43%),
    900: hsl(231, 100%, 40%)
  ),
  neutral: (
    300: hsl(0, 0%, 100%),
    600: hsl(0, 0%, 50%),
    700: hsl(0, 0%, 30%),
    800: hsl(0, 0%, 15%),
    900: hsl(0, 0%, 0%)
  )
);