.content-wrapper {
  max-width: 50em;
  margin-inline: auto;
  padding-inline: 2.5rem;
  padding-top: 1rem;
}

section {
  margin-block: 1rem;
}

.section__title {
  margin-block: 1rem;
  font-weight: 500;
}

.rules-group__title {
  counter-reset: rules-counter;
  counter-increment: rules-group-counter;

  &::before {
    content: counter(rules-group-counter) " - ";
  }
}

.rule {
  list-style-type: none;

  &::before {
    counter-increment: rules-counter;
    content: counter(rules-group-counter) "." counter(rules-counter) ": ";
    font-weight: 700;
  }
}